{% extends 'transit/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="drive-detail">
    <h2>{{drive.title}}</h2>
    <h3>Driver: {{drive.driver.account.name}}</h3>
    <p><b>Available number of seats:</b>{{drive.number_of_seats}}</p>
    <p><b>Details: </b>{{drive.details}}</p>
    <p><b>Price: </b>{{drive.price}} euros</p>
    <img style="width: 500px; height: 300px; object-fit:cover" src="{{ drive.image.url }}"  >
    <h5>{{drive.pub_date}}</h5>

{% if user.is_authenticated %}

<form action="" method="POST">
    <h3>Reserve Your Spot:</h3>
    {% csrf_token %}
    {{form}}
    <br><br>
    <input type="submit" value="Apply">
</form>
{% else %}
<h3>You must be logged in to reserve your seat! <br><br> <a href="{% url 'login' %}"><button style="border-radius: 10px; padding: 8px;">Login</button></a></h3>
{% endif %}
</div>
{% endblock %}